In [1]:
import json
import pandas as pd

# Part 1: Reading and investigating data

Open up the `player_data.json` and investigate the data structure.

In [12]:
with open('player_data.json') as p_d:    
    data = json.load(p_d)
# data

In [ ]:
#CREAte player info then game logs
#df per player and

In [11]:
data[0]['GAMELOG']

#GAMELOG

#EACH ROW IS A GAME ENTRY PER PLAYER
#STATS PER GAME PER PLAYER

[{'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800772',
  'GAME_DATE': 'FEB 01, 2019',
  'MATCHUP': 'OKC @ MIA',
  'WL': 'W',
  'MIN': 9,
  'FGM': 0,
  'FGA': 2,
  'FG_PCT': 0.0,
  'FG3M': 0,
  'FG3A': 1,
  'FG3_PCT': 0.0,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 0,
  'REB': 0,
  'AST': 0,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 1,
  'PTS': 0,
  'PLUS_MINUS': -8,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800751',
  'GAME_DATE': 'JAN 29, 2019',
  'MATCHUP': 'OKC @ ORL',
  'WL': 'W',
  'MIN': 6,
  'FGM': 1,
  'FGA': 2,
  'FG_PCT': 0.5,
  'FG3M': 1,
  'FG3A': 2,
  'FG3_PCT': 0.5,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 0,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 1,
  'PTS': 3,
  'PLUS_MINUS': 4,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800493',
  'GAME_DATE': 'DEC 23, 2018',
  'MATCHUP': 'OKC vs. MIN',
  'WL': 'L',
  'MIN': 27,
  'FGM': 2,
  'FGA': 6,
  'FG_PCT': 0.333,
  'FG3M': 1,
  'FG3A': 5,
  'FG3_PCT': 0.2,
  'FTM': 2,
  'FTA': 2,
  'FT_PCT': 1.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 0,
  'STL': 0,
  'BLK': 2,
  'TOV': 0,
  'PF': 2,
  'PTS': 7,
  'PLUS_MINUS': 1,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800485',
  'GAME_DATE': 'DEC 22, 2018',
  'MATCHUP': 'OKC @ UTA',
  'WL': 'W',
  'MIN': 16,
  'FGM': 2,
  'FGA': 4,
  'FG_PCT': 0.5,
  'FG3M': 2,
  'FG3A': 4,
  'FG3_PCT': 0.5,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 0,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 4,
  'PTS': 6,
  'PLUS_MINUS': 13,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800466',
  'GAME_DATE': 'DEC 19, 2018',
  'MATCHUP': 'OKC @ SAC',
  'WL': 'W',
  'MIN': 23,
  'FGM': 3,
  'FGA': 7,
  'FG_PCT': 0.429,
  'FG3M': 3,
  'FG3A': 7,
  'FG3_PCT': 0.429,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 1,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 4,
  'PTS': 9,
  'PLUS_MINUS': 6,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800447',
  'GAME_DATE': 'DEC 17, 2018',
  'MATCHUP': 'OKC vs. CHI',
  'WL': 'W',
  'MIN': 14,
  'FGM': 3,
  'FGA': 4,
  'FG_PCT': 0.75,
  'FG3M': 2,
  'FG3A': 3,
  'FG3_PCT': 0.667,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 2,
  'DREB': 1,
  'REB': 3,
  'AST': 0,
  'STL': 1,
  'BLK': 0,
  'TOV': 0,
  'PF': 1,
  'PTS': 8,
  'PLUS_MINUS': 4,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800434',
  'GAME_DATE': 'DEC 15, 2018',
  'MATCHUP': 'OKC vs. LAC',
  'WL': 'W',
  'MIN': 20,
  'FGM': 2,
  'FGA': 4,
  'FG_PCT': 0.5,
  'FG3M': 0,
  'FG3A': 2,
  'FG3_PCT': 0.0,
  'FTM': 2,
  'FTA': 2,
  'FT_PCT': 1.0,
  'OREB': 0,
  'DREB': 4,
  'REB': 4,
  'AST': 0,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 0,
  'PTS': 6,
  'PLUS_MINUS': 7,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800426',
  'GAME_DATE': 'DEC 14, 2018',
  'MATCHUP': 'OKC @ DEN',
  'WL': 'L',
  'MIN': 19,
  'FGM': 0,
  'FGA': 1,
  'FG_PCT': 0.0,
  'FG3M': 0,
  'FG3A': 1,
  'FG3_PCT': 0.0,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 0,
  'REB': 0,
  'AST': 0,
  'STL': 0,
  'BLK': 0,
  'TOV': 1,
  'PF': 0,
  'PTS': 0,
  'PLUS_MINUS': -1,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800411',
  'GAME_DATE': 'DEC 12, 2018',
  'MATCHUP': 'OKC @ NOP',
  'WL': 'L',
  'MIN': 14,
  'FGM': 2,
  'FGA': 6,
  'FG_PCT': 0.333,
  'FG3M': 1,
  'FG3A': 5,
  'FG3_PCT': 0.2,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 2,
  'STL': 1,
  'BLK': 0,
  'TOV': 0,
  'PF': 0,
  'PTS': 5,
  'PLUS_MINUS': 0,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800396',
  'GAME_DATE': 'DEC 10, 2018',
  'MATCHUP': 'OKC vs. UTA',
  'WL': 'W',
  'MIN': 19,
  'FGM': 0,
  'FGA': 2,
  'FG_PCT': 0.0,
  'FG3M': 0,
  'FG3A': 1,
  'FG3_PCT': 0.0,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 3,
  'REB': 3,
  'AST': 0,
  'STL': 1,
  'BLK': 0,
  'TOV': 2,
  'PF': 1,
  'PTS': 0,
  'PLUS_MINUS': -12,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800373',
  'GAME_DATE': 'DEC 07, 2018',
  'MATCHUP': 'OKC @ CHI',
  'WL': 'L',
  'MIN': 15,
  'FGM': 1,
  'FGA': 4,
  'FG_PCT': 0.25,
  'FG3M': 1,
  'FG3A': 4,
  'FG3_PCT': 0.25,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 3,
  'REB': 3,
  'AST': 1,
  'STL': 0,
  'BLK': 0,
  'TOV': 1,
  'PF': 3,
  'PTS': 3,
  'PLUS_MINUS': -15,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800358',
  'GAME_DATE': 'DEC 05, 2018',
  'MATCHUP': 'OKC @ BKN',
  'WL': 'W',
  'MIN': 19,
  'FGM': 0,
  'FGA': 2,
  'FG_PCT': 0.0,
  'FG3M': 0,
  'FG3A': 2,
  'FG3_PCT': 0.0,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 1,
  'STL': 3,
  'BLK': 0,
  'TOV': 1,
  'PF': 1,
  'PTS': 0,
  'PLUS_MINUS': -10,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800343',
  'GAME_DATE': 'DEC 03, 2018',
  'MATCHUP': 'OKC @ DET',
  'WL': 'W',
  'MIN': 18,
  'FGM': 1,
  'FGA': 3,
  'FG_PCT': 0.333,
  'FG3M': 0,
  'FG3A': 2,
  'FG3_PCT': 0.0,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 1,
  'STL': 0,
  'BLK': 0,
  'TOV': 1,
  'PF': 1,
  'PTS': 2,
  'PLUS_MINUS': -1,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800325',
  'GAME_DATE': 'NOV 30, 2018',
  'MATCHUP': 'OKC vs. ATL',
  'WL': 'W',
  'MIN': 26,
  'FGM': 7,
  'FGA': 11,
  'FG_PCT': 0.636,
  'FG3M': 7,
  'FG3A': 11,
  'FG3_PCT': 0.636,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 2,
  'REB': 2,
  'AST': 1,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 2,
  'PTS': 21,
  'PLUS_MINUS': 6,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800313',
  'GAME_DATE': 'NOV 28, 2018',
  'MATCHUP': 'OKC vs. CLE',
  'WL': 'W',
  'MIN': 27,
  'FGM': 1,
  'FGA': 9,
  'FG_PCT': 0.111,
  'FG3M': 1,
  'FG3A': 8,
  'FG3_PCT': 0.125,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 1,
  'DREB': 2,
  'REB': 3,
  'AST': 1,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 1,
  'PTS': 3,
  'PLUS_MINUS': 13,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800282',
  'GAME_DATE': 'NOV 24, 2018',
  'MATCHUP': 'OKC vs. DEN',
  'WL': 'L',
  'MIN': 8,
  'FGM': 0,
  'FGA': 2,
  'FG_PCT': 0.0,
  'FG3M': 0,
  'FG3A': 2,
  'FG3_PCT': 0.0,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 1,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 1,
  'PTS': 0,
  'PLUS_MINUS': -9,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800274',
  'GAME_DATE': 'NOV 23, 2018',
  'MATCHUP': 'OKC vs. CHA',
  'WL': 'W',
  'MIN': 7,
  'FGM': 0,
  'FGA': 1,
  'FG_PCT': 0.0,
  'FG3M': 0,
  'FG3A': 1,
  'FG3_PCT': 0.0,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 0,
  'REB': 0,
  'AST': 0,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 4,
  'PTS': 0,
  'PLUS_MINUS': 1,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800209',
  'GAME_DATE': 'NOV 14, 2018',
  'MATCHUP': 'OKC vs. NYK',
  'WL': 'W',
  'MIN': 7,
  'FGM': 0,
  'FGA': 2,
  'FG_PCT': 0.0,
  'FG3M': 0,
  'FG3A': 1,
  'FG3_PCT': 0.0,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 0,
  'REB': 0,
  'AST': 0,
  'STL': 0,
  'BLK': 0,
  'TOV': 1,
  'PF': 0,
  'PTS': 0,
  'PLUS_MINUS': 3,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800196',
  'GAME_DATE': 'NOV 12, 2018',
  'MATCHUP': 'OKC vs. PHX',
  'WL': 'W',
  'MIN': 20,
  'FGM': 2,
  'FGA': 6,
  'FG_PCT': 0.333,
  'FG3M': 2,
  'FG3A': 6,
  'FG3_PCT': 0.333,
  'FTM': 2,
  'FTA': 2,
  'FT_PCT': 1.0,
  'OREB': 0,
  'DREB': 2,
  'REB': 2,
  'AST': 2,
  'STL': 2,
  'BLK': 1,
  'TOV': 1,
  'PF': 4,
  'PTS': 8,
  'PLUS_MINUS': -11,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800181',
  'GAME_DATE': 'NOV 10, 2018',
  'MATCHUP': 'OKC @ DAL',
  'WL': 'L',
  'MIN': 26,
  'FGM': 2,
  'FGA': 6,
  'FG_PCT': 0.333,
  'FG3M': 2,
  'FG3A': 4,
  'FG3_PCT': 0.5,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 2,
  'REB': 2,
  'AST': 0,
  'STL': 0,
  'BLK': 0,
  'TOV': 1,
  'PF': 2,
  'PTS': 6,
  'PLUS_MINUS': -9,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800163',
  'GAME_DATE': 'NOV 08, 2018',
  'MATCHUP': 'OKC vs. HOU',
  'WL': 'W',
  'MIN': 19,
  'FGM': 0,
  'FGA': 3,
  'FG_PCT': 0.0,
  'FG3M': 0,
  'FG3A': 3,
  'FG3_PCT': 0.0,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 1,
  'DREB': 3,
  'REB': 4,
  'AST': 0,
  'STL': 1,
  'BLK': 0,
  'TOV': 1,
  'PF': 0,
  'PTS': 0,
  'PLUS_MINUS': -8,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800153',
  'GAME_DATE': 'NOV 07, 2018',
  'MATCHUP': 'OKC @ CLE',
  'WL': 'W',
  'MIN': 26,
  'FGM': 3,
  'FGA': 12,
  'FG_PCT': 0.25,
  'FG3M': 3,
  'FG3A': 10,
  'FG3_PCT': 0.3,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 0,
  'REB': 0,
  'AST': 0,
  'STL': 1,
  'BLK': 0,
  'TOV': 0,
  'PF': 1,
  'PTS': 9,
  'PLUS_MINUS': 11,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800144',
  'GAME_DATE': 'NOV 05, 2018',
  'MATCHUP': 'OKC vs. NOP',
  'WL': 'W',
  'MIN': 30,
  'FGM': 2,
  'FGA': 4,
  'FG_PCT': 0.5,
  'FG3M': 1,
  'FG3A': 2,
  'FG3_PCT': 0.5,
  'FTM': 2,
  'FTA': 2,
  'FT_PCT': 1.0,
  'OREB': 0,
  'DREB': 4,
  'REB': 4,
  'AST': 3,
  'STL': 0,
  'BLK': 0,
  'TOV': 1,
  'PF': 1,
  'PTS': 7,
  'PLUS_MINUS': 6,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800119',
  'GAME_DATE': 'NOV 02, 2018',
  'MATCHUP': 'OKC @ WAS',
  'WL': 'W',
  'MIN': 24,
  'FGM': 3,
  'FGA': 8,
  'FG_PCT': 0.375,
  'FG3M': 2,
  'FG3A': 7,
  'FG3_PCT': 0.286,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 2,
  'STL': 0,
  'BLK': 2,
  'TOV': 0,
  'PF': 3,
  'PTS': 8,
  'PLUS_MINUS': 27,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800111',
  'GAME_DATE': 'NOV 01, 2018',
  'MATCHUP': 'OKC @ CHA',
  'WL': 'W',
  'MIN': 30,
  'FGM': 9,
  'FGA': 15,
  'FG_PCT': 0.6,
  'FG3M': 5,
  'FG3A': 10,
  'FG3_PCT': 0.5,
  'FTM': 2,
  'FTA': 2,
  'FT_PCT': 1.0,
  'OREB': 0,
  'DREB': 2,
  'REB': 2,
  'AST': 0,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 4,
  'PTS': 25,
  'PLUS_MINUS': 16,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800103',
  'GAME_DATE': 'OCT 30, 2018',
  'MATCHUP': 'OKC vs. LAC',
  'WL': 'W',
  'MIN': 15,
  'FGM': 1,
  'FGA': 2,
  'FG_PCT': 0.5,
  'FG3M': 1,
  'FG3A': 1,
  'FG3_PCT': 1.0,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 0,
  'REB': 0,
  'AST': 0,
  'STL': 4,
  'BLK': 1,
  'TOV': 1,
  'PF': 5,
  'PTS': 3,
  'PLUS_MINUS': -1,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800085',
  'GAME_DATE': 'OCT 28, 2018',
  'MATCHUP': 'OKC vs. PHX',
  'WL': 'W',
  'MIN': 24,
  'FGM': 0,
  'FGA': 5,
  'FG_PCT': 0.0,
  'FG3M': 0,
  'FG3A': 3,
  'FG3_PCT': 0.0,
  'FTM': 2,
  'FTA': 2,
  'FT_PCT': 1.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 0,
  'STL': 2,
  'BLK': 0,
  'TOV': 0,
  'PF': 2,
  'PTS': 2,
  'PLUS_MINUS': -1,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800065',
  'GAME_DATE': 'OCT 25, 2018',
  'MATCHUP': 'OKC vs. BOS',
  'WL': 'L',
  'MIN': 19,
  'FGM': 2,
  'FGA': 5,
  'FG_PCT': 0.4,
  'FG3M': 2,
  'FG3A': 5,
  'FG3_PCT': 0.4,
  'FTM': 0,
  'FTA': 1,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 1,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 2,
  'PTS': 6,
  'PLUS_MINUS': 6,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800037',
  'GAME_DATE': 'OCT 21, 2018',
  'MATCHUP': 'OKC vs. SAC',
  'WL': 'L',
  'MIN': 5,
  'FGM': 0,
  'FGA': 1,
  'FG_PCT': 0.0,
  'FG3M': 0,
  'FG3A': 1,
  'FG3_PCT': 0.0,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 1,
  'REB': 1,
  'AST': 2,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 0,
  'PTS': 0,
  'PLUS_MINUS': 5,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800025',
  'GAME_DATE': 'OCT 19, 2018',
  'MATCHUP': 'OKC @ LAC',
  'WL': 'L',
  'MIN': 32,
  'FGM': 4,
  'FGA': 10,
  'FG_PCT': 0.4,
  'FG3M': 2,
  'FG3A': 7,
  'FG3_PCT': 0.286,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 1,
  'DREB': 1,
  'REB': 2,
  'AST': 1,
  'STL': 1,
  'BLK': 0,
  'TOV': 2,
  'PF': 0,
  'PTS': 10,
  'PLUS_MINUS': -9,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760},
 {'SEASON_ID': '22018',
  'Player_ID': 203518,
  'Game_ID': '0021800002',
  'GAME_DATE': 'OCT 16, 2018',
  'MATCHUP': 'OKC @ GSW',
  'WL': 'L',
  'MIN': 23,
  'FGM': 3,
  'FGA': 8,
  'FG_PCT': 0.375,
  'FG3M': 2,
  'FG3A': 6,
  'FG3_PCT': 0.333,
  'FTM': 0,
  'FTA': 0,
  'FT_PCT': 0.0,
  'OREB': 0,
  'DREB': 2,
  'REB': 2,
  'AST': 0,
  'STL': 0,
  'BLK': 0,
  'TOV': 0,
  'PF': 2,
  'PTS': 8,
  'PLUS_MINUS': -5,
  'VIDEO_AVAILABLE': 1,
  'TEAM_ABBREVIATION': 'OKC',
  'TEAM_ID': 1610612760}]

In [5]:
#your code here
df = pd.read_json('player_data.json')
df.head()
# df.columns

#each row needs to be a game

,BIRTHDATE,CAREER_STATS,COUNTRY,DISPLAY_FIRST_LAST,DISPLAY_FI_LAST,DISPLAY_LAST_COMMA_FIRST,DLEAGUE_FLAG,DRAFT_NUMBER,DRAFT_ROUND,DRAFT_YEAR,...,ROSTERSTATUS,SCHOOL,SEASON_EXP,TEAM_ABBREVIATION,TEAM_CITY,TEAM_CODE,TEAM_ID,TEAM_NAME,TO_YEAR,WEIGHT
0,1993-08-01T00:00:00,"{'PTS': 5.3, 'AST': 0.5, 'REB': 1.4, 'ALL_STAR...",Spain,Alex Abrines,A. Abrines,"Abrines, Alex",N,32,2,2013,...,Inactive,,2,,,,0,,2018,
1,1990-10-06T00:00:00,"{'PTS': 4.9, 'AST': 0.6000000000000001, 'REB':...",USA,Quincy Acy,Q. Acy,"Acy, Quincy",Y,37,2,2012,...,Inactive,Baylor,6,,,,0,,2018,
2,1996-05-04T00:00:00,"{'PTS': 3.2, 'AST': 1.9, 'REB': 1.8, 'ALL_STAR...",USA,Jaylen Adams,J. Adams,"Adams, Jaylen",Y,Undrafted,Undrafted,Undrafted,...,Active,None,1,ATL,Atlanta,hawks,1610612737,Hawks,2018,190
3,1993-07-20T00:00:00,"{'PTS': 13.9, 'AST': 1.6, 'REB': 9.5, 'PIE': 0...",New Zealand,Steven Adams,S. Adams,"Adams, Steven",N,12,1,2013,...,Active,Pittsburgh,6,OKC,Oklahoma City,thunder,1610612760,Thunder,2019,265
4,1997-07-18T00:00:00,"{'PTS': 8.9, 'AST': 2.2, 'REB': 7.3, 'PIE': 0....",USA,Bam Adebayo,B. Adebayo,"Adebayo, Bam",N,14,1,2017,...,Active,Kentucky,2,MIA,Miami,heat,1610612748,Heat,2019,255

# Part 2:  Creating the Dataframe

Create a data frame where each row corresponds to a game for each player. You must have atleast the following columns in your final dataframe:

'DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID', 'AST', 'BLK', 'DREB','Game_ID',  'MIN', 'PTS', 'REB', 'TEAM_ABBREVIATION'

*You can include additional columns in your dataframe, so you don't have to do additional work to remove other columns.*  


'TAKE OUT DREB AND REPLACE IT WITH STEALS'

In [13]:
len(data) #num of players

538

In [14]:
df = pd.DataFrame()

for person in data:
    if len(person['GAMELOG']) == 0:
        continue
    df1 = pd.DataFrame(person, columns=['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID'], index=[0])
    df2 = pd.DataFrame(person['GAMELOG'])
    merged = pd.merge(df1, df2, left_on='PERSON_ID', right_on='Player_ID', how='outer')
    df = pd.concat([df, merged])

df.reset_index(drop=True, inplace=True)

In [26]:
df

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
0,Alex Abrines,203518,0,0,0,0,1,0,0.000,2,...,0,203518,0,22018,0,OKC,1610612760,0,1,W
1,Alex Abrines,203518,0,0,0,1,2,1,0.500,2,...,3,203518,1,22018,0,OKC,1610612760,0,1,W
2,Alex Abrines,203518,0,0,2,1,5,1,0.200,6,...,7,203518,1,22018,0,OKC,1610612760,0,1,L
3,Alex Abrines,203518,0,0,0,1,4,2,0.500,4,...,6,203518,1,22018,0,OKC,1610612760,0,1,W
4,Alex Abrines,203518,0,1,0,1,7,3,0.429,7,...,9,203518,1,22018,0,OKC,1610612760,0,1,W
5,Alex Abrines,203518,0,0,0,1,3,2,0.667,4,...,8,203518,3,22018,1,OKC,1610612760,0,1,W
6,Alex Abrines,203518,0,0,0,4,2,0,0.000,4,...,6,203518,4,22018,0,OKC,1610612760,0,1,W
7,Alex Abrines,203518,0,0,0,0,1,0,0.000,1,...,0,203518,0,22018,0,OKC,1610612760,1,1,L
8,Alex Abrines,203518,0,2,0,1,5,1,0.200,6,...,5,203518,1,22018,1,OKC,1610612760,0,1,L
9,Alex Abrines,203518,0,0,0,3,1,0,0.000,2,...,0,203518,3,22018,1,OKC,1610612760,2,1,W
10,Alex Abrines,203518,0,1,0,3,4,1,0.250,4,...,3,203518,3,22018,0,OKC,1610612760,1,1,L
11,Alex Abrines,203518,0,1,0,1,2,0,0.000,2,...,0,203518,1,22018,3,OKC,1610612760,1,1,W
12,Alex Abrines,203518,0,1,0,1,2,0,0.000,3,...,2,203518,1,22018,0,OKC,1610612760,1,1,W
13,Alex Abrines,203518,0,1,0,2,11,7,0.636,11,...,21,203518,2,22018,0,OKC,1610612760,0,1,W
14,Alex Abrines,203518,0,1,0,2,8,1,0.125,9,...,3,203518,3,22018,0,OKC,1610612760,0,1,W
15,Alex Abrines,203518,0,1,0,1,2,0,0.000,2,...,0,203518,1,22018,0,OKC,1610612760,0,1,L
16,Alex Abrines,203518,0,0,0,0,1,0,0.000,1,...,0,203518,0,22018,0,OKC,1610612760,0,1,W
17,Alex Abrines,203518,0,0,0,0,1,0,0.000,2,...,0,203518,0,22018,0,OKC,1610612760,1,1,W
18,Alex Abrines,203518,0,2,1,2,6,2,0.333,6,...,8,203518,2,22018,2,OKC,1610612760,1,1,W
19,Alex Abrines,203518,0,0,0,2,4,2,0.500,6,...,6,203518,2,22018,0,OKC,1610612760,1,1,L
20,Alex Abrines,203518,0,0,0,3,3,0,0.000,3,...,0,203518,4,22018,1,OKC,1610612760,1,1,W
21,Alex Abrines,203518,0,0,0,0,10,3,0.300,12,...,9,203518,0,22018,1,OKC,1610612760,0,1,W
22,Alex Abrines,203518,0,3,0,4,2,1,0.500,4,...,7,203518,4,22018,0,OKC,1610612760,1,1,W
23,Alex Abrines,203518,0,2,2,1,7,2,0.286,8,...,8,203518,1,22018,0,OKC,1610612760,0,1,W
24,Alex Abrines,203518,0,0,0,2,10,5,0.500,15,...,25,203518,2,22018,0,OKC,1610612760,0,1,W
25,Alex Abrines,203518,0,0,1,0,1,1,1.000,2,...,3,203518,0,22018,4,OKC,1610612760,1,1,W
26,Alex Abrines,203518,0,0,0,1,3,0,0.000,5,...,2,203518,1,22018,2,OKC,1610612760,0,1,W
27,Alex Abrines,203518,0,1,0,1,5,2,0.400,5,...,6,203518,1,22018,0,OKC,1610612760,0,1,L
28,Alex Abrines,203518,0,2,0,1,1,0,0.000,1,...,0,203518,1,22018,0,OKC,1610612760,0,1,L
29,Alex Abrines,203518,0,1,0,1,7,2,0.286,10,...,10,203518,2,22018,1,OKC,1610612760,2,1,L
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26071,Ivica Zubac,1627826,1610612746,3,0,0,0,0,0.000,5,...,7,1627826,2,22018,0,LAL,1610612747,2,1,L
26072,Ivica Zubac,1627826,1610612746,0,4,11,0,0,0.000,16,...,24,1627826,16,22018,0,LAL,1610612747,2,1,W
26073,Ivica Zubac,1627826,1610612746,1,0,4,0,0,0.000,12,...,10,1627826,8,22018,0,LAL,1610612747,4,1,L
26074,Ivica Zubac,1627826,1610612746,0,1,4,0,0,0.000,8,...,18,1627826,4,22018,0,LAL,1610612747,2,1,L
26075,Ivica Zubac,1627826,1610612746,1,1,5,0,0,0.000,6,...,17,1627826,7,22018,0,LAL,1610612747,0,1,L
26076,Ivica Zubac,1627826,1610612746,1,0,6,0,0,0.000,14,...,26,1627826,12,22018,0,LAL,1610612747,4,1,W
26077,Ivica Zubac,1627826,1610612746,1,0,3,0,0,0.000,2,...,7,1627826,3,22018,0,LAL,1610612747,0,1,W
26078,Ivica Zubac,1627826,1610612746,0,2,2,0,0,0.000,3,...,5,1627826,2,22018,0,LAL,1610612747,0,1,L
26079,Ivica Zubac,1627826,1610612746,1,1,3,0,0,0.000,10,...,10,1627826,5,22018,0,LAL,1610612747,0,1,L
26080,Ivica Zubac,1627826,1610612746,1,0,6,0,0,0.000,8,...,11,1627826,9,22018,1,LAL,1610612747,0,1,W
26081,Ivica Zubac,1627826,1610612746,0,0,1,0,0,0.000,2,...,4,1627826,2,22018,0,LAL,1610612747,1,1,W
26082,Ivica Zubac,1627826,1610612746,0,0,6,0,0,0.000,6,...,9,1627826,8,22018,0,LAL,1610612747,2,1,L
26083,Ivica Zubac,1627826,1610612746,2,1,4,0,0,0.000,6,...,10,1627826,6,22018,0,LAL,1610612747,1,1,L
26084,Ivica Zubac,1627826,1610612746,1,1,1,0,0,0.000,4,...,8,1627826,2,22018,0,LAL,1610612747,1,1,L
26085,Ivica Zubac,1627826,1610612746,3,1,0,0,0,0.000,8,...,7,1627826,2,22018,0,LAL,1610612747,2,1,L
26086,Ivica Zubac,1627826,1610612746,0,1,3,0,0,0.000,8,...,6,1627826,5,22018,0,LAL,1610612747,1,1,L
26087,Ivica Zubac,1627826,1610612746,2,2,8,0,0,0.000,10,...,18,1627826,11,22018,0,LAL,1610612747,1,1,W
26088,Ivica Zubac,1627826,1610612746,1,4,3,0,0,0.000,12,...,19,1627826,4,22018,0,LAL,1610612747,1,1,L
26089,Ivica Zubac,1627826,1610612746,0,2,9,0,0,0.000,10,...,16,1627826,11,22018,2,LAL,1610612747,1,1,W
26090,Ivica Zubac,1627826,1610612746,1,1,0,0,0,0.000,1,...,0,1627826,0,22018,0,LAL,1610612747,0,1,L
26091,Ivica Zubac,1627826,1610612746,1,0,2,0,0,0.000,2,...,4,1627826,2,22018,0,LAL,1610612747,0,1,L
26092,Ivica Zubac,1627826,1610612746,0,0,1,0,0,0.000,4,...,6,1627826,1,22018,0,LAL,1610612747,0,1,W
26093,Ivica Zubac,1627826,1610612746,0,1,2,0,0,0.000,0,...,0,1627826,2,22018,0,LAL,1610612747,0,1,W
26094,Ivica Zubac,1627826,1610612746,0,0,1,0,0,0.000,0,...,0,1627826,1,22018,0,LAL,1610612747,0,1,W
26095,Ivica Zubac,1627826,1610612746,0,1,1,0,0,0.000,2,...,0,1627826,2,22018,0,LAL,1610612747,1,1,L
26096,Ivica Zubac,1627826,1610612746,0,0,1,0,0,0.000,2,...,0,1627826,2,22018,0,LAL,1610612747,0,1,W
26097,Ivica Zubac,1627826,1610612746,1,0,4,0,0,0.000,3,...,5,1627826,6,22018,0,LAL,1610612747,1,1,L
26098,Ivica Zubac,1627826,1610612746,0,0,4,0,0,0.000,5,...,9,1627826,8,22018,1,LAL,1610612747,2,1,W
26099,Ivica Zubac,1627826,1610612746,1,0,1,0,0,0.000,1,...,0,1627826,2,22018,0,LAL,1610612747,0,1,W
26100,Ivica Zubac,1627826,1610612746,0,1,0,0,0,0.000,1,...,0,1627826,1,22018,0,LAL,1610612747,0,1,L

In [27]:
df.columns

Index(['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID_x', 'AST', 'BLK', 'DREB',
       'FG3A', 'FG3M', 'FG3_PCT', 'FGA', 'FGM', 'FG_PCT', 'FTA', 'FTM',
       'FT_PCT', 'GAME_DATE', 'Game_ID', 'MATCHUP', 'MIN', 'OREB', 'PF',
       'PLUS_MINUS', 'PTS', 'Player_ID', 'REB', 'SEASON_ID', 'STL',
       'TEAM_ABBREVIATION', 'TEAM_ID_y', 'TOV', 'VIDEO_AVAILABLE', 'WL'],
      dtype='object')

# Part 3: Pandas Questions

Answer the following questions

## 1 
- Find the player who scored the most points in an individual game last season.

-  Now do the same for rebounds, blocks, and assists.

In [40]:
df[df['PTS'] == df['PTS'].max()] #POINTS
df[df['REB'] == df['REB'].max()] #REBOUNDS
df[df['AST'] == df['AST'].max()] #ASSISTS
df[df['BLK'] == df['BLK'].max()] #BLK

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
10323,James Harden,201935,1610612745,1,0,5,13,9,0.692,34,...,61,201935,7,22018,3,HOU,1610612745,3,1,W
10348,James Harden,201935,1610612745,4,0,9,20,5,0.250,38,...,61,201935,15,22018,5,HOU,1610612745,5,1,W

In [41]:
df[df['REB'] == df['REB'].max()] #REBOUNDS

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
23773,Karl-Anthony Towns,1626157,1610612750,3,4,18,8,3,0.375,23,...,27,1626157,27,22018,2,MIN,1610612750,3,1,W

In [42]:
df[df['AST'] == df['AST'].max()] #ASSISTS

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
24969,Russell Westbrook,201566,1610612745,24,0,11,4,0,0.0,22,...,24,201566,13,22018,2,OKC,1610612760,3,1,L

## 2: 

- Find the player who scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [309]:
df.groupby("DISPLAY_FIRST_LAST")["AST"].sum().sort_values(ascending =False).to_frame()

                       AST
DISPLAY_FIRST_LAST
Russell Westbrook      784
Trae Young             653
Ben Simmons            610
De'Aaron Fox           590
James Harden           586
Nikola Jokic           580
Kyle Lowry             564
D'Angelo Russell       563
Damian Lillard         551
Jrue Holiday           518
Kemba Walker           484
DeMar DeRozan          475
Chris Paul             473
Joe Ingles             469
Kyrie Irving           464
Darren Collison        459
Kevin Durant           457
Draymond Green         454
LeBron James           454
Mike Conley            449
Bradley Beal           448
Devin Booker           433
Eric Bledsoe           430
Luka Doncic            429
D.J. Augustin          426
Giannis Antetokounmpo  424
Ricky Rubio            416
Blake Griffin          402
Lou Williams           402
Tomas Satoransky       399
...                    ...
Tony Bradley             1
Alize Johnson            1
Kalin Lucas              1
Melvin Frazier Jr.       1
Marcus Derrickson        1
Malcolm Miller           1
Donatas Motiejunas       1
Ike Anigbogu             1
Joe Chealey              1
Okaro White              0
Tyler Davis              0
Zach Lofton              0
DJ Stephens              0
Yante Maten              0
Vincent Edwards          0
Donte Grantham           0
George King              0
Tyler Ulis               0
John Holland             0
Isaac Humphries          0
BJ Johnson               0
Jordan Sibert            0
Kobi Simmons             0
Kostas Antetokounmpo     0
Malachi Richardson       0
Andre Ingram             0
Terrence Jones           0
Tahjere McCall           0
Angel Delgado            0
Zhou Qi                  0

[530 rows x 1 columns]

In [77]:
#PLAYER WITH MOST POINTS
g1 = df.groupby(["PERSON_ID", "DISPLAY_FIRST_LAST"])["PTS"].sum()
max_pts = g1.to_frame()
max_pts[max_pts['PTS'] == max_pts['PTS'].max()]

                               PTS
PERSON_ID DISPLAY_FIRST_LAST
201935    James Harden        2818

In [87]:
#PLAYER WITH MOST ASSISTS
g2 = df.groupby(["PERSON_ID", "DISPLAY_FIRST_LAST"])['AST'].sum()
df_ast = g2.to_frame()
df_ast[df_ast['AST'] == df_ast['AST'].max()]

                              AST
PERSON_ID DISPLAY_FIRST_LAST
201566    Russell Westbrook   784

In [80]:
df.AST.map(lambda x: x.sum()) #INCOMPLETE ATTEMPT AT LAMBDA

In [91]:
#PLAYER WITH MOST REBOUNDS
g3 = df.groupby(['PERSON_ID', 'DISPLAY_FIRST_LAST'])['REB'].sum()
df_reb = g3.to_frame()
df_reb[df_reb['REB'] == df_reb['REB'].max()]

                               REB
PERSON_ID DISPLAY_FIRST_LAST
203083    Andre Drummond      1232

In [94]:
#PLAYER WITH MOST BLOCKS

g4 = df.groupby(['PERSON_ID', 'DISPLAY_FIRST_LAST'])['BLK'].sum()
df_blk = g4.to_frame()
df_blk[df_blk['BLK'] == df_blk['BLK'].max()]

                              BLK
PERSON_ID DISPLAY_FIRST_LAST
1626167   Myles Turner        199

## 3:
How many players played in at least 82 games last season?

In [311]:
(df['DISPLAY_FIRST_LAST'].value_counts() >=82).sum()

21

In [313]:
#NEXT TIME CHANGE COLUMN NAME
#

g5 = df.groupby(['DISPLAY_FIRST_LAST'])['PERSON_ID'].count()
df_games = g5.to_frame()
df_games[df_games['PERSON_ID'] >= 82]
len(df_games[df_games['PERSON_ID'] >= 82])

21

## 4: 
- Find which team scored the most points for the entire season.

- Now do the same for rebounds, blocks, and assists.

In [106]:
df.columns

Index(['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ID_x', 'AST', 'BLK', 'DREB',
       'FG3A', 'FG3M', 'FG3_PCT', 'FGA', 'FGM', 'FG_PCT', 'FTA', 'FTM',
       'FT_PCT', 'GAME_DATE', 'Game_ID', 'MATCHUP', 'MIN', 'OREB', 'PF',
       'PLUS_MINUS', 'PTS', 'Player_ID', 'REB', 'SEASON_ID', 'STL',
       'TEAM_ABBREVIATION', 'TEAM_ID_y', 'TOV', 'VIDEO_AVAILABLE', 'WL'],
      dtype='object')

In [117]:
g6 = df.groupby(['TEAM_ABBREVIATION'])['PTS'].sum()
df_tp = g6.to_frame()
df_tp[df_tp['PTS'] == df_tp['PTS'].max()]

                    PTS
TEAM_ABBREVIATION
MIL                9686

In [ ]:
###### FINISH THE PROBLEM #######

## 5:
Which team had the most players play for them last season?

In [316]:
teams = df.groupby('TEAM_ABBREVIATION')
teams['Player_ID'].nunique().idxmax()

'MEM'

In [ ]:
#your code here
n_players = df.groupby('TEAM_ABBREVIATION')['PERSON_ID'].nunique()
n_players.loc[n_players.apply(lambda x: x >= n_players.max())]

In [314]:
#TEAMABBREVIATION
#TEAM_ID_y
#DISPLAY_FIRST_LAST
#PERSON_ID

#above are the columns I'm keeping
# ______________________________________

df_teams = df[['TEAM_ABBREVIATION', 'TEAM_ID_y', 'DISPLAY_FIRST_LAST', 'PERSON_ID']] #SHORTEN DATAFRAM
df_teams

gpt = df_teams.groupby(['TEAM_ABBREVIATION', 'PERSON_ID']).count() #games played per player per team
gpt #players that played for each team
df_tp = gpt.groupby(['TEAM_ABBREVIATION']).count() #DATA FRAEME WITH COUNTS
df_tp #number of players who played for each team
# df_tp.drop(['DISPLAY_FIRST_LAST'], axis = 1) #FAILED ATTEMPED TO DROP THIS COLUMN
df_tp[df_tp['TEAM_ID_y'] == df_tp['TEAM_ID_y'].max()] #TEAM WITH MOST PLAYERS

                   TEAM_ID_y  DISPLAY_FIRST_LAST
TEAM_ABBREVIATION
MEM                       28                  28

## 6:
- How many players played for more than one team last year?

- What is the most number of teams a player played for last season?

In [319]:
df_players = df[['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ABBREVIATION', 'TEAM_ID_y']]
# df_players
a_df = df.drop_duplicates(['DISPLAY_FIRST_LAST','TEAM_ABBREVIATION'])[['DISPLAY_FIRST_LAST','TEAM_ABBREVIATION']]
a_df
count_list = a_df.groupby(['DISPLAY_FIRST_LAST'])['DISPLAY_FIRST_LAST'].count().to_frame()
count_list
count_list[count_list['DISPLAY_FIRST_LAST'] > 1]
len(count_list[count_list['DISPLAY_FIRST_LAST'] > 1])

86

In [219]:
#DISPLAY_FIRST_LAST
#PERSON_ID

#TEAMABBREVIATION
#TEAM_ID_y

#CREATE DF WITH NEEDED COLMUMNS
df_players = df[['DISPLAY_FIRST_LAST', 'PERSON_ID', 'TEAM_ABBREVIATION', 'TEAM_ID_y']]
df_players

# df_players.groupby(df['PERSON_ID'].nunique())['TEAM_ABBREVIATION'].count().to_frame()
# df_players.DISPLAY_FIRST_LAST.unique()

#CREATED DF WITH DUPLICATES DELTED
a_df=df.drop_duplicates(['DISPLAY_FIRST_LAST','TEAM_ABBREVIATION'])[['DISPLAY_FIRST_LAST','TEAM_ABBREVIATION']]
a_df

#CREATE DF WITH COUNTS PER PLAYER
count_list = a_df.groupby(['DISPLAY_FIRST_LAST'])['DISPLAY_FIRST_LAST'].count().to_frame()
count_list[count_list['DISPLAY_FIRST_LAST'] == count_list['DISPLAY_FIRST_LAST'].max()]

                    DISPLAY_FIRST_LAST
DISPLAY_FIRST_LAST
Alec Burks                           3
Andrew Harrison                      3
Greg Monroe                          3
Isaiah Canaan                        3
Jason Smith                          3
Wesley Matthews                      3

## 7:

Find the player who scored the least amount of points while playing in at least 40 games last season.

In [272]:
df_40 = df[['PERSON_ID', 'DISPLAY_FIRST_LAST', 'PTS']]
# df_40
df_40_points = df_40.groupby(['DISPLAY_FIRST_LAST'])['PTS'].sum().to_frame()
# df_40_points
df_40_games = df_40.groupby(['DISPLAY_FIRST_LAST'])['PERSON_ID'].count().to_frame()
# df_40_games
table = df_40_games.join(df_40_points, how = 'inner') # games played total and pts scored total
# table
table_40 = table[table['PERSON_ID'] >= 40]
# table_40
# table_40.sort_values(by = 'PTS')

In [269]:
len(df_40)

26101

In [204]:
#PERSON_ID, NAME, pts
#GROUPBY(PERSON)[NAME].COUNT
# df

df_40 = df[['PERSON_ID', 'DISPLAY_FIRST_LAST', 'PTS']]

df_40_points = df_40.groupby(['DISPLAY_FIRST_LAST'])['PTS'].sum().to_frame()
df_40_games = df_40.groupby(['DISPLAY_FIRST_LAST'])['PERSON_ID'].count().to_frame()
# df_40_games

table = df_40_games.join(df_40_points, how = 'inner') # games played total and pts scored total
table_40 = table[table['PERSON_ID'] >= 40]
table_40.sort_values(by = 'PTS')

#Sindarius Thornwell

                       PERSON_ID   PTS
DISPLAY_FIRST_LAST
Sindarius Thornwell           64    62
Guerschon Yabusele            41    94
Quincy Pondexter              53    98
Jose Calderon                 49   113
Jarell Martin                 42   115
Ekpe Udoh                     51   119
Svi Mykhailiuk                42   133
Gary Clark                    51   148
Nene                          42   151
Jon Leuer                     41   156
Kosta Koufos                  42   156
Kyle O'Quinn                  45   156
Ryan Broekhoff                42   167
Tyson Chandler                55   173
Justin Anderson               48   178
Marquese Chriss               43   182
Semi Ojeleye                  56   186
Hamidou Diallo                51   190
Thabo Sefolosha               50   190
Solomon Hill                  44   191
Dante Cunningham              64   194
Glenn Robinson III            47   198
Amir Johnson                  51   201
Lance Thomas                  46   205
Jonah Bolden                  44   207
Moritz Wagner                 43   207
Devonte' Graham               46   217
Tyrone Wallace                62   218
Jordan Bell                   68   223
TJ Leaf                       58   225
...                          ...   ...
Zach LaVine                   63  1492
Lou Williams                  75  1498
LeBron James                  55  1505
Luka Doncic                   72  1526
Trae Young                    81  1549
Julius Randle                 73  1565
Kyrie Irving                  67  1596
Kawhi Leonard                 60  1596
Nikola Jokic                  80  1604
DeMar DeRozan                 77  1635
Tobias Harris                 82  1644
Nikola Vucevic                80  1665
Russell Westbrook             73  1675
Klay Thompson                 78  1680
Buddy Hield                   82  1695
Devin Booker                  64  1700
D'Angelo Russell              81  1712
LaMarcus Aldridge             81  1727
Joel Embiid                   64  1761
Donovan Mitchell              77  1829
Blake Griffin                 75  1841
Karl-Anthony Towns            77  1880
Stephen Curry                 69  1881
Giannis Antetokounmpo         72  1994
Kevin Durant                  78  2027
Damian Lillard                80  2067
Bradley Beal                  82  2099
Kemba Walker                  82  2102
Paul George                   77  2159
James Harden                  78  2818

[353 rows x 2 columns]

# Part 4: Pandas and Probability

## 8: 

What is the probability that a random player had a game where they scored more than 40 points?

In [277]:
len(df[df.PTS > 40])

110

In [275]:
df.head()

,DISPLAY_FIRST_LAST,PERSON_ID,TEAM_ID_x,AST,BLK,DREB,FG3A,FG3M,FG3_PCT,FGA,...,PTS,Player_ID,REB,SEASON_ID,STL,TEAM_ABBREVIATION,TEAM_ID_y,TOV,VIDEO_AVAILABLE,WL
0,Alex Abrines,203518,0,0,0,0,1,0,0.000,2,...,0,203518,0,22018,0,OKC,1610612760,0,1,W
1,Alex Abrines,203518,0,0,0,1,2,1,0.500,2,...,3,203518,1,22018,0,OKC,1610612760,0,1,W
2,Alex Abrines,203518,0,0,2,1,5,1,0.200,6,...,7,203518,1,22018,0,OKC,1610612760,0,1,L
3,Alex Abrines,203518,0,0,0,1,4,2,0.500,4,...,6,203518,1,22018,0,OKC,1610612760,0,1,W
4,Alex Abrines,203518,0,1,0,1,7,3,0.429,7,...,9,203518,1,22018,0,OKC,1610612760,0,1,W

In [273]:
len(df)

26101

In [320]:
len(df[df.PTS >= 40])/len(df)

#prob one of the rows >= 40

0.005248841040573158

## 9:

What is the probability that a randomly selected player from last season would average more than 20 points per game?

In [284]:
# df_avg
len(df_avg[df_avg['PTS'] > 20])/len(df)

0.0012643193747366001

In [323]:
# your code here

df_avg = df.groupby(['DISPLAY_FIRST_LAST', 'PERSON_ID'])['PTS'].mean().to_frame()
len(df_avg[df_avg['PTS'] > 20])/530  #530 is the count of unique players

0.062264150943396226

# Advanced Questions

## 10: 
Find the player who scored the least amount of points while playing in at least 40 games and averageing at least 15 minutes per game last season.

In [ ]:
#can also be done using query method

In [291]:
table_40 = table[table['PERSON_ID'] >= 40]
len(table_40)
# table_40.sort_values(by = 'PTS')

353

In [322]:
df_min = df.groupby('DISPLAY_FIRST_LAST')['MIN'].mean().to_frame()
df_15 = df_min[df_min['MIN'] >= 15]

new = table_40.join(df_15, how = 'inner').sort_values(by = 'PTS')
new#.sort_values(by = 'PTS')

                       PERSON_ID   PTS        MIN
DISPLAY_FIRST_LAST
Tyson Chandler                55   173  15.927273
Solomon Hill                  44   191  19.886364
Lance Thomas                  46   205  17.043478
Chandler Hutchison            44   229  20.295455
Dragan Bender                 46   230  17.978261
Marcin Gortat                 47   233  15.978723
Frank Ntilikina               43   246  21.116279
Cameron Payne                 40   250  17.850000
De'Anthony Melton             50   250  19.620000
Jerian Grant                  60   250  15.633333
Shaun Livingston              64   258  15.078125
Chasson Randle                49   271  15.163265
Omari Spellman                46   272  17.500000
Kenrich Williams              46   279  23.543478
D.J. Wilson                   48   280  18.333333
Matthew Dellavedova           48   282  16.979167
Aron Baynes                   51   284  16.117647
Sam Dekker                    47   287  16.765957
Jared Dudley                  59   287  20.661017
Dante Exum                    42   288  15.809524
Mo Bamba                      47   292  16.297872
Joakim Noah                   42   298  16.547619
Elie Okobo                    53   304  18.132075
Wilson Chandler               51   305  23.078431
Tim Frazier                   59   310  18.966102
Dwayne Bacon                  43   316  17.697674
Bruce Brown                   74   319  19.554054
Luke Kornet                   46   322  17.021739
Thon Maker                    64   323  15.171875
Anthony Tolliver              65   326  16.630769
...                          ...   ...        ...
Zach LaVine                   63  1492  34.444444
Lou Williams                  75  1498  26.560000
LeBron James                  55  1505  35.200000
Luka Doncic                   72  1526  32.250000
Trae Young                    81  1549  30.901235
Julius Randle                 73  1565  30.589041
Kawhi Leonard                 60  1596  33.983333
Kyrie Irving                  67  1596  33.119403
Nikola Jokic                  80  1604  31.325000
DeMar DeRozan                 77  1635  34.896104
Tobias Harris                 82  1644  34.743902
Nikola Vucevic                80  1665  31.400000
Russell Westbrook             73  1675  36.082192
Klay Thompson                 78  1680  34.038462
Buddy Hield                   82  1695  31.890244
Devin Booker                  64  1700  35.015625
D'Angelo Russell              81  1712  30.259259
LaMarcus Aldridge             81  1727  33.197531
Joel Embiid                   64  1761  33.703125
Donovan Mitchell              77  1829  33.740260
Blake Griffin                 75  1841  34.920000
Karl-Anthony Towns            77  1880  33.051948
Stephen Curry                 69  1881  33.739130
Giannis Antetokounmpo         72  1994  32.763889
Kevin Durant                  78  2027  34.653846
Damian Lillard                80  2067  35.462500
Bradley Beal                  82  2099  36.914634
Kemba Walker                  82  2102  34.963415
Paul George                   77  2159  36.935065
James Harden                  78  2818  36.794872

[299 rows x 3 columns]

## 11: 
Which player scored the largest share of points for their team throughout the season.

In [ ]:
#your code here

## 12:

What is the probability that a randomly selected player had at least one game in which they scored 40 points last season.

In [ ]:
# your code here

## 13: 

A double-double is when a player records for any of the two follow categories: points, rebounds, assists, steals, or blocks. 
What is the probability that a randomly selected player had a double-double in a game last season?

In [ ]:
#your code here

## 14:

What is the probability that a randomnly selected game had a player record a triple-double in that game?

In [ ]:
#your code here

# Part 5: Super Duper Challenge

## 15:

How many players last season averaged more points per game than their career average?